<!-- Jumbotron -->
<section id="jumbotron" style="height: 500px; z-index: -1;">

    <!-- Slide -->
    <section class="container ls-layer" style="">

        <!-- Background -->
        <img class="ls-bg" style="" alt="slides/bg-welding.jpg"
             src="{{ image_path('theme::img/bg-welding.jpg') }}"/>

        <!-- Masthead Parts -->
        <h1 class="masthead ls-s1" style="width: 960px; top: -10px; left: 50%; slidedirection: top;">You Need
            Grisham</h1>

        <p class="masthead ls-s2" style="width: 960px; top: 70px; left: 50%; slidedirection: right;">
            If you need it moved, maintained, installed, repaired, machined, custom fabricated, rolled, formed, sheared,
            broached, bored, milled, keywayed, line bored, welded, a prototype or a short run, in house or on site...
        </p>
        <!-- /Masthead Parts -->


        <img class="ls-s3" style="top: 160px; left: 25%; slidedirection: left; delayin: 1000;"
             alt="slides/we-make-it.png"
             src="{{ image_path('theme::img/we-make-it.png') }}"/>

        <img class="ls-s4" style="top: 160px; left: 50%; slidedirection: bottom; delayin: 500;"
             alt="slides/we-mend-it.png"
             src="{{ image_path('theme::img/we-mend-it.png') }}"/>

        <img class="ls-s5" style="top: 160px; left: 75%; slidedirection: top; delayin: 1500;"
             alt="slides/we-maintain-it.png"
             src="{{ image_path('theme::img/we-maintain-it.png') }}"/>

    </section>
    <!-- /Slide -->


    <!-- Slide -->
    <section class="container ls-layer" style="">

        <!-- Background -->
        <img class="ls-bg" style="" alt="slides/bg-line-bore.jpg"
             src="{{ image_path('theme::img/bg-line-bore.jpg') }}"/>

        <!-- Masthead Parts -->
        <h1 class="masthead ls-s1" style="width: 960px; top: -10px; left: 50%; slidedirection: top;">FREE Estimates</h1>

        <p class="masthead ls-s2" style="width: 960px; top: 70px; left: 50%; slidedirection: right;">
            That's right.. Give us a call and we'll help you with a solution that fits perfectly, on the house.
        </p>
        <!-- /Masthead Parts -->


        <img class="ls-s5" style="top: 150px; left: 50%; slidedirection: bottom;" alt="slides/icon-with-compliment.png"
             src="{{ image_path('theme::img/icon-with-compliment.png') }}"/>

        <h1 class="big-info ls-s4" style="top: 180px; left: 57%; slidedirection: top;">
            (563) 381-3525
            <br/>
            <a href="mailto:sales@grishamindustriesinc.com">sales@grishamindustriesinc.com</a>
        </h1>

    </section>
    <!-- /Slide -->

</section>
<!-- /Jumbotron -->
